
.nav-wrapper{
    background: linear-gradient(130deg, darkcyan 30%,white);}

.page-footer{
    background: linear-gradient(310deg, darkcyan 70%,white);
}

nav {
    height: 100px;
    line-height: 100px;
}
.parallax-container {
    height: 50px;
}
header, main, footer {
    padding-left: 300px;
}